
body {margin:0;}


ul.topnav li.right {
  float: right;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}


/* SLICK */

.my-slick-title {
  font-size: 24px;
  text-align: center;
  padding: 10px 0;
}

.my-slick {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 50px;
}

.my-slick .slick-arrow {
  font-size: 24px;
  color: #00c1d5;
}

.my-slick .slick-prev, .my-slick .slick-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  z-index: 1001;
}

.my-slick .slick-prev {
  left: 10px;
}

.my-slick .slick-next {
  right: 10px;
}

.my-slick .shop-item {
  position: relative;
  height: 200px;
}

.my-slick .shop-item .name{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.37);
  color: white;
  padding: 2px 10px;
  font-weight: bold;
}

.my-slick .shop-item .city{
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.37);
  color: white;
  padding: 2px 10px;
  font-weight: bold;
}

.my-slick .logo {

}

.my-slick .logo img {
  width: 100%;
  height: auto;
  max-height: 200px;
}
